:root {
  --main-color: #9DD458;

  --color-primary-50: 242 252 237 !important;
  --color-primary-100: 222 244 209 !important;
  --color-primary-200: 202 237 181 !important;
  --color-primary-300: 182 229 153 !important;
  --color-primary-400: 161 220 124 !important;
  --color-primary-500: 129 191 49 !important;
  --color-primary-600: 116 172 44 !important;
  --color-primary-700: 92 137 35 !important;
  --color-primary-800: 69 103 26 !important;
  --color-primary-900: 46 69 17 !important;
  --color-primary-950: 28 41 10 !important;
}
